In [1]:
#import libraries
from sklearn import (feature_selection as ftr_sel,
                     model_selection as skms,
                     neighbors)
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
#import dataset
iris = pd.read_csv('iris.csv')
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [3]:
print(iris.keys())

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name'], dtype='object')

In [4]:
#set the features
features = ['SepalLength', 'SepalWidth', 'PetalLength','PetalWidth']
#create arrays of feature and target values
x = iris[features].values
y = iris['Name'].values

In [8]:
#using label encoder, change the Name labels to numbers: 
#Iris-setosa corresponds to 0, Iris-versicolor corresponds to 1 and Iris-virginica corresponds to 2
le = LabelEncoder()
y = le.fit_transform(y)
#create a new target column
iris['target'] = y
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name  target
0          5.1         3.5          1.4         0.2  Iris-setosa       0
1          4.9         3.0          1.4         0.2  Iris-setosa       0
2          4.7         3.2          1.3         0.2  Iris-setosa       0
3          4.6         3.1          1.5         0.2  Iris-setosa       0
4          5.0         3.6          1.4         0.2  Iris-setosa       0

In [98]:
#split the dataset into training and testing partitions
(iris_train_ftrs, iris_test_ftrs,
iris_train_tgt, iris_test_tgt) = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [68]:
#initialize value of k to 3
knn = neighbors.KNeighborsClassifier(n_neighbors=3)
#train the model on the training data
fit = knn.fit(iris_train_ftrs, iris_train_tgt)
#calculate predictions with the test data
preds = knn.predict(iris_test_ftrs)
print(preds)

[2 1 0 2 0 2 0 1 1 1 2 1 1 1 2 0 1 1 0 0 2 1 0 0 2 0 0 1 1 0]

In [99]:
#Enter values in centimeters
num1 = float(input("Enter SepalLength: "))

Enter SepalLength: 5.2345

In [100]:
num2 = float(input("Enter SepalWidth: "))

Enter SepalWidth: 3.4523

In [101]:
num3 = float(input("Enter PetalLength: "))

Enter PetalLength: 3.5213

In [102]:
num4 = float(input("Enter PetalWidth: "))

Enter PetalWidth: 5.6001

In [105]:
#print the given values and create the dataframe
yourvalues = {'SepalLength': [num1],
              'SepalWidth': [num2],
              'PetalLength': [num3],
              'PetalWidth': [num4]}
df = pd.DataFrame(yourvalues)
df

   SepalLength  SepalWidth  PetalLength  PetalWidth
0       5.2345      3.4523       3.5213      5.6001

In [106]:
#predict on values in the dataframe
yourpred = knn.predict(df)
print(yourpred)

[2]

In [27]:
#show the Name of the target variable
iris[['target','Name']].drop_duplicates()

     target             Name
0         0      Iris-setosa
50        1  Iris-versicolor
100       2   Iris-virginica

Referring to the above table, the predicted flower is Iris virginica.